---
layout: page
title: 我的追劇筆記
---

{% include search.html %}

{% assign dramas = site.data["drama"] | where_exp: "drama", "drama.pending != true" %}

<ol id="drama-list">
  {% for drama in dramas %}
    <li
      star="{{ drama.star }}"
      platform="{{ drama.platform }}"
      date="{{ drama.date }}">
      <a
        onclick="handleTooltipClick(event, this)"
        class="tooltip">
        {% if drama.star %}<strong>{% endif %}
        {{ drama.type }}《{{ drama.name }}》{% if drama.series %}{{ drama.series }}{% endif %}
        {% if drama.star %}</strong>{% endif %}
        {% if drama.comment %}
          <span class="tooltiptext">{{ drama.comment | newline_to_br | strip_newlines }}</span>
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ol>
