{% assign book = include.book %}
<li
  {% if include.all_books %}class="all-books__item{% if book.finished == false %} all-books__item--unfinished{% else %} all-books__item--finished{% endif %}"{% endif %}
  isbn="{{ book.isbn }}"
  star="{{ book.star }}"
  date="{{ book.date }}"
  {% if include.year %}data-year="{{ include.year }}"{% endif %}
  data-name="{{ book.name | escape }}"
  data-author="{{ book.author | escape }}"
  {% if book.country and book.country != false %}data-country="{{ book.country | escape }}"{% endif %}
  {% if book.comment %}data-comment="{{ book.comment | strip_newlines | escape }}"{% endif %}>
  <a
    onclick="handleTooltipClick(event, this)"
    {% if book.isbn %}
    href="https://isbn.tw/{{ book.isbn }}"
    target="_blank"
    class="tooltip"
    {% else %}
    class="no-isbn tooltip"
    {% endif %}>
    {% if book.star %}<strong>{% endif %}
    {{ book.author }}《{{ book.name }}》{% if book.series %}{{ book.series }}{% endif %}
    {% if book.star %}</strong>{% endif %}
    {% if book.comment %}
      <span class="tooltiptext">{{ book.comment | newline_to_br | strip_newlines }}</span>
    {% endif %}
  </a>
</li>
