<h2 id="year-{{ include.year }}">{{ include.year }} 年
  <span class="year-total">- {{ site.data[include.year] | where_exp: "book", "book.pending != true" | size }} 本</span>
</h2>

<ol id="year-{{ include.year }}-list">
  {% for book in site.data[include.year] reversed %}
    {% unless book.pending %}
      <li
        isbn="{{ book.isbn }}"
        star="{{ book.star }}"
        date="{{ book.date }}">
        <a
          {% if book.isbn %}
          href="https://isbn.tw/{{ book.isbn }}"
          target="_blank"
          {% else %}
          class="no-isbn"
          {% endif %}>
          {% if book.star %}<strong>{% endif %}
          {{ book.author }}《{{ book.name }}》
          {% if book.star %}</strong>{% endif %}
        </a>
      </li>
    {% endunless %}
  {% endfor %}
</ol>