<h2>{{ include.year }} 年 - {{ site.data[include.year] | where_exp: "book", "book.pending != true" | size }} 本</h2>

<ol>
  {% for book in site.data[include.year] %}
    {% unless book.pending %}
      <li>
        <a
          {% if book.isbn %}
          href="https://isbn.tw/{{ book.isbn }}"
          target="_blank"
          {% else %}
          class="no-isbn"
          {% endif %}>
          {% if book.star %}<strong>{% endif %}
          {{ book.author }}《{{ book.name }}》
          {% if book.star %}</strong>{% endif %}
        </a>
      </li>
    {% endunless %}
  {% endfor %}
</ol>