<script>
  function searchBookList(filter) {
    /* Elements begin with year- */
    const elements = document.querySelectorAll('[id^="year-"]');

    /* Then match `year-*-list` pattern */
    const pattern = /^year-\d+-list$/;
    const yearLists = Array.from(elements).filter(element => pattern.test(element.id));

    /* Iterate through each year list. */
    for (let y = 0; y < yearLists.length; y++) {
      const yearList = yearLists[y];
      const year = yearList.id.replace('year-', '').replace('-list', '');
      const lis = yearList.getElementsByTagName('li');
      let count = 0;
      for (var i = 0; i < lis.length; i++) {
        let name = lis[i].textContent.toLowerCase();
        let isbn = lis[i].getAttribute('isbn');
        let star = lis[i].getAttribute('star');
        let date = lis[i].getAttribute('date');
        let comment = '';
        if (lis[i].getElementsByClassName('tooltiptext').length > 0) {
          comment = lis[i].getElementsByClassName('tooltiptext')[0].textContent.toLowerCase();
        }
        if (filter == 'star') {
          /* Show only starred books. */
          if (star == 'true') {
            lis[i].style.display = 'list-item';
            count++;
          } else {
            lis[i].style.display = 'none';
          }
        } else {
          /* Filter by name or date or ISBN. */
          if (name.indexOf(filter) == -1 && isbn.indexOf(filter) == -1 && date.indexOf(filter) == -1 && comment.indexOf(filter) == -1){
            lis[i].style.display = 'none';
          } else {
            lis[i].style.display = 'list-item';
            count++;
          }
        }
      }

      /* Hide year header if no book is shown. */
      const yearHeader = document.getElementById('year-' + year);
      if (count == 0) {
        yearHeader.style.display = 'none';
      } else {
        yearHeader.style.display = 'block';
      }
    }

    /* Hide year total number if search input is not empty. */
    const yearTotal = document.getElementsByClassName('year-total');
    for (var i = 0; i < yearTotal.length; i++) {
      if (filter == '') {
        yearTotal[i].style.display = 'inline';
      } else {
        yearTotal[i].style.display = 'none';
      }
    }
  }

  function searchDramaList(filter) {
    const dramaList = document.getElementById('drama-list');
    if (!dramaList) {
      return;
    }
    const lis = dramaList.getElementsByTagName('li');
    for (let i = 0; i < lis.length; i++) {
      /* Get attributes. */
      let name = lis[i].textContent.toLowerCase();
      let star = lis[i].getAttribute('star');
      let platform = lis[i].getAttribute('platform').toLowerCase();
      let date = lis[i].getAttribute('date');
      let comment = '';
      if (lis[i].getElementsByClassName('tooltiptext').length > 0) {
        comment = lis[i].getElementsByClassName('tooltiptext')[0].textContent.toLowerCase();
      }

      if (filter == 'star') {
        /* Show only starred books. */
        if (star == 'true') {
          lis[i].style.display = 'list-item';
        } else {
          lis[i].style.display = 'none';
        }
      } else {
        /* Filter by search fields. */
        const searchFields = [name, platform, date, comment];
        if (searchFields.every(field => field.indexOf(filter) === -1)) {
          lis[i].style.display = 'none';
        } else {
          lis[i].style.display = 'list-item';
        }
      }
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    const searchEle = document.getElementById('search');
    const inputEle = document.getElementById('searchInput');
    const searchButton = document.getElementById('searchButton');
    searchButton.addEventListener('click', (e) => {
      const isExpanded = searchEle.classList.contains('search--expanded');
      if (!isExpanded) {
        inputEle.focus();
      } else {
        inputEle.value = '';
        searchBookList('');
        searchDramaList('');
      }
      searchEle.classList.toggle('search--expanded');
    });
    inputEle.addEventListener('change', (e) => {
      const filter = e.target.value.toLowerCase();
      searchBookList(filter);
      searchDramaList(filter);
    });

    /* Handle scoll event to fix search button on top. */
    const offset = searchEle.offsetTop;
    window.onscroll = function() {
      if (window.pageYOffset > offset) {
        searchEle.classList.add('search--fixed');
        document.getElementById('searchSpacer').classList.add('search__spacer');
      } else {
        searchEle.classList.remove('search--fixed');
        document.getElementById('searchSpacer').classList.remove('search__spacer');
      }
    };
  });
</script>

<div class="searchbox">
  <div class="search" id="search">
    <input type="text" class="search__input" id="searchInput" placeholder="" />
    <button class="search__button" id="searchButton">
      <svg class="search__icon" focusable="false" viewBox="0 0 24 24">
        <path
          d="M10.5,0.5c5.523,0,10,4.477,10,10s-4.477,10-10,10s-10-4.477-10-10S4.977,0.5,10.5,0.5z M23.5,23.5 l-5.929-5.929">
        </path>
      </svg>
    </button>
  </div>
  <div id="searchSpacer" class="search__spacer"></div>
</div>