---
# Add custom CSS under the original `core.scss` file.
---

@import 'main';
@import 'syntax';

// Custom CSS
.logo {
  margin-bottom: 0px;
}
.divider {
  margin: 12px 0px !important;
}
h1.index {
  color: #a09e85;
  font-size: 26px;
  font-weight: bold;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
h1.drama {
  color: #7b9a9c;
  font-size: 26px;
  font-weight: bold;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
h2 {
  color: #888888;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.5em;
}
ol {
  margin: 0px;
  padding-left: 20px;
  color: #a6a6a6;
}
li {
  padding-top: .25em;
  line-height: 24px;
  -webkit-font-smoothing: subpixel-antialiased;
}
li > a {
  border-bottom: 0px;
  font-size: 16px;
  color: #666666 ;
}
li > a:hover {
  text-decoration: underline;
  color: #666666 ;
}
li > a > strong {
  font-weight: 400;
  color: #4a7c9d;
}
li > a > strong:hover {
  color: #a5c6d6;
}
li > a.no-isbn {
  color: #666;
}

// Search button
.searchbox {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.search {
  align-items: center;
  display: flex;
  justify-content: center;

  border: 1px solid #d1d5db;
  border-radius: 9999px;
  padding: 1rem;

  width: max-content;
}
.search--expanded .search__input {
  width: 10rem;
}
.search--fixed {
  z-index: 100;
  background-color: white;
  position: fixed;
  top: 0;
}
.search__spacer {
  height: 58px;
}

.search__input {
  /* Reset */
  border: none;
  padding: 0;

  width: 0;
  transition: width 120ms;
  font-size: 16px;
}
.search__input:focus {
  outline: none;
}
.search__button {
  /* Reset */
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  align-items: center;
  display: flex;
  justify-content: center;
}

.search__icon {
  fill: none;
  stroke: #d1d5db;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1;

  height: 1.5rem;
  width: 1.5rem;
}

/* Tooltip container */
.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  font-size: 14px;
  line-height: 20px;
  visibility: hidden;
  width: 140px;
  background-color: #777;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -70px;
  margin-top: 5px; // 5px for the arrow
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #777 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext,
.tooltip.active .tooltiptext {
  visibility: visible;
}
